@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow: hidden;
  background: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.gradient {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/bg.png"), linear-gradient(-45deg, rgb(255, 0, 0), rgb(255, 123, 0), rgb(255, 0, 204), rgb(255, 0, 102));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* linear-gradient(-45deg, rgb(255, 0, 0), rgb(255, 123, 0), rgb(255, 0, 204), rgb(255, 0, 102)) */
/* linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), */
.drop-btn:focus > .drop-down {
  z-index: 99 !important;
  opacity: 1 !important;
}
